@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
  /* Main Color */
  --bg-color: #f8f8f8;
  --color-1: #c5172e;
  --color-2: #dc143c;
  --color-3: #bf092f;
  --color-4: #fdebd0;
  --text-1: #333;
  --text-2: #ccc;
  --text-3: #f8f8f8;

  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-1);

  /* Heading */
  --heading-color: #222;
  --heading-line-height: 1.2;
  --h1-size: 2.5rem;
  --h2-size: 2rem;
  --h3-size: 1.75rem;
  --h4-size: 1.5rem;
  --h5-size: 1.25rem;
  --h6-size: 1rem;
}
/* Container */
.container {
  @apply w-full max-w-[1200px] box-border;
  margin: 0 auto;
  padding: 0 15px;
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  line-height: var(--heading-line-height);
  font-weight: 700;
}
h1 {
  font-size: var(--h1-size);
}
h2 {
  font-size: var(--h2-size);
}
h3 {
  font-size: var(--h3-size);
}
h4 {
  font-size: var(--h4-size);
}
h5 {
  font-size: var(--h5-size);
}
h6 {
  font-size: var(--h6-size);
}
/* Button */
button {
  cursor: pointer;
}
/* Link */
a {
  opacity: 1;
  /* color: #1e88e5; */
  text-decoration: none;
  transition: all 0.2s ease;
  font-weight: 500;
}
a:hover {
  opacity: 0.7;
}
/* Sidebar */
.sidebar-scroll::-webkit-scrollbar {
  width: 6px;
}
.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: theme('colors.gray.400');
  border-radius: 6px;
}
.sidebar-scroll {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.gray.400') transparent;
}
/* Nav Link Sidebar */
.sidelink {
  transition: all 0.1s ease;
  @apply flex flex-row relative text-[#333333] py-2 px-4 rounded gap-2 items-center min-h-12 font-semibold whitespace-pre;
}
.sidelink span {
  @apply text-left;
}
.sidelink.active,
.sidelink:hover {
  @apply text-[var(--text-3)] bg-[var(--color-2)] box-border;
}
.sidelink.active::before,
.sidelink:hover::before {
  content: '';
  @apply absolute left-0 top-0 bottom-0 w-0 bg-[var(--color-1)] rounded-tr-lg rounded-br-lg;
  transition: width 0.1s ease;
}
.sidelink.active::before {
  @apply w-[6px];
}
.sidelink span.close {
  @apply hidden;
}
/* Auth Background */
.authbg {
  position: relative;
  background-color: #f8f8f8;
  z-index: 0;
}
.authbg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    radial-gradient(
        circle,
        transparent 20%,
        #e5e5f7 20%,
        #e5e5f7 80%,
        transparent 80%,
        transparent
      )
      0 0,
    radial-gradient(
        circle,
        transparent 20%,
        #e5e5f7 20%,
        #e5e5f7 80%,
        transparent 80%,
        transparent
      )
      25px 25px,
    linear-gradient(#f74444 2px, transparent 2px) 0 -1px,
    linear-gradient(90deg, #f74444 2px, #e5e5f7 2px) -1px 0;
  background-size:
    50px 50px,
    50px 50px,
    25px 25px,
    25px 25px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    transparent
  );
  z-index: -1;
  pointer-events: none;
}

/* Tabel */
.table-responsive {
  width: 100%;
  overflow-x: auto;
}
.table-responsive table {
  border-collapse: collapse;
  table-layout: auto;
}
.table-responsive tbody {
  border-bottom: 2px solid var(--color-2);
}
.table-responsive thead {
  position: relative;
  box-shadow: 0 6px 6px -2px rgba(0, 0, 0, 0.1);
}
.table-responsive th,
.table-responsive td {
  padding: 10px 15px;
}
.table-responsive th {
  color: var(--text-3);
  background-color: var(--color-2);
  border: 1px solid var(--color-3);
  font-weight: bold;
  cursor: pointer;
}
/* .table-responsive th:hover {
  background-color: var(--color-1);
}
.table-responsive tbody tr {
  border-bottom: 1px solid var(--color-3);
} */
.table-responsive tbody tr:nth-child(odd) {
  background-color: white;
}

.table-responsive tbody tr:nth-child(even) {
  background-color: var(--bg-color);
}
/* .table-responsive tbody tr:hover {
  background-color: var(--color-4);
} */
@media (max-width: 768px) {
  .table-responsive table,
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
    display: block;
  }

  .table-responsive thead tr {
    display: none;
  }

  .table-responsive tr {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding: 10px;
  }
  .table-responsive td {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    text-align: right;
    position: relative;
  }
  .table-responsive td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    text-align: left;
    font-weight: bold;
  }
}
/* Tabel Excel */
.table-excel {
  width: 100%;
  /* overflow-x: auto; */
}

.table-excel table {
  width: 100%;
  border-collapse: collapse;
}

.table-excel th,
.table-excel td {
  border: 1px solid black;
  padding: 6px 10px;
}

.table-excel td table {
  width: 100%;
  border-collapse: collapse; /* garis menyatu */
  margin: 2px 0; /* beri jarak agar tidak tumpang tindih */
}

.table-excel td table tr:nth-child(even) td,
.table-excel td table tr:nth-child(even) th {
  border-top: 1px solid black;
}

.table-excel td table tr:first-child td,
.table-excel td table tr:first-child th {
  border-top: 0; /* baris pertama tanpa border */
}

.table-excel td table td,
.table-excel td table th {
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  padding: 4px 6px;
  background-clip: padding-box;
}


/* Paginasi Tabel */
.table-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--text-2);
  border-radius: 4px;
  padding: 0.4rem 0.6rem;
  background-color: white;
  cursor: pointer;
  transition:
    all 0.2s,
    color 0.2s;
}

.table-button:hover:not(:disabled) {
  background-color: var(--color-2);
  color: var(--text-3);
}

.table-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.table-button:active {
  transform: scale(90%);
}

/* Input page number */
.pagination-input {
  width: auto;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--text-2);
  border-radius: 4px;
  text-align: center;
  transition: border-color 0.2s;
  background-color: white;
}

.pagination-input:focus {
  border-color: var(--color-2);
  outline: none;
}
/* Button */
.btn.btn-theme {
  @apply bg-[var(--color-2)] text-white;
}
.btn.btn-primary {
  @apply bg-blue-600 text-white;
}

.btn.btn-success {
  @apply bg-green-600 text-white;
}

.btn.btn-danger {
  @apply bg-red-600 text-white;
}

.btn.btn-warning {
  @apply bg-yellow-500 text-gray-800;
}

.btn.btn-info {
  @apply bg-blue-400 text-white;
}

.btn.btn-secondary {
  @apply bg-gray-500 text-white;
}

.btn.btn-light {
  @apply bg-gray-100 text-gray-800;
}

.btn.btn-dark {
  @apply bg-gray-800 text-white;
}

.btn.btn-neutral {
  @apply bg-gray-300 text-gray-700;
}

.btn.btn-accent {
  @apply bg-purple-600 text-white;
}

.btn.btn-primary-alt {
  @apply bg-indigo-600 text-white;
}
.btn.btn-theme {
  @apply bg-white text-[var(--text-1)] border border-[var(--text-2)];
}
.btn.btn-theme:hover:not(:disabled) {
  @apply bg-[var(--color-2)] text-[var(--text-3)];
}
.btn:hover:not(:disabled) {
  opacity: 90%;
}
/* Input */
/* input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Input Wrapper */
.input-wrapper {
  border-radius: var(--radius-sm) var(--radius-sm) 0 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.input-wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color-gray-200);
  transition: all 0.2s ease;
  opacity: 1;
}
.input-wrapper:focus-within::after {
  background-color: var(--color-2);
  opacity: 0.5;
}

.input-wrapper input {
  color: var(--text-1);
  width: 100%;
  /* background-color: var(--color-gray-50); */
  padding: 0.5rem 0.85rem;
  outline: none;
}
/* Input Toggle */
.toggle-switch {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  gap: 8px;
}

.toggle-switch input {
  display: none;
}

.toggle-switch .slider {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.toggle-switch .slider::before {
  content: '';
  position: absolute;
  height: 18px;
  width: 18px;
  left: 1px;
  top: 1px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-switch input:checked + .slider {
  background-color: #4caf50;
}

.toggle-switch input:checked + .slider::before {
  transform: translateX(20px);
}

.toggle-switch.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Listbox */
/* .listbox {
  @apply relative flex;
}

.listbox .listbox-btn {
  @apply w-full inline-flex justify-between items-center gap-1 rounded-b-none py-2 px-3 rounded whitespace-nowrap overflow-hidden;
}
.listbox .listbox-btn::after{
  @apply content-[''] absolute bottom-0 left-0 h-[2px] w-full bg-gray-200 transition-all opacity-100;
} */
/* .listbox .listbox-btn:focus::after{
  @apply bg-[var(--color-2)] opacity-50;
}
.listbox .listbox-btn:focus{
  @apply outline-none;
} */
/* .listbox-menu{
  @apply [--anchor-gap:0] [--anchor-max-height:12rem] w-(--button-width) p-1 bg-gray-50 rounded-b shadow-lg focus-visible:outline-0 z-[9999];
} */
/* .listbox-menu::after{
@apply content-[''] absolute top-0 left-0 h-[2px] w-full bg-[var(--color-2)] opacity-50;
} */
